body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.center:before,
.center:after,
.center div {
    background: #fff;
    content: "";
    display: block;
    height: 5px;
    border-radius: 3px;
    margin: 5px 0;
    transition: 0.5s;
}

.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
    transform: translateY(-8px) rotate(-135deg);
}

.center:hover div {
    transform: scale(0);
}