.navbar {
    /* background-color: #333; */
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ff6347;
}